In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("House Price Prediction Dataset.csv")

In [3]:
print("Dataset Shape (rows, columns):")
print(df.shape)

Dataset Shape (rows, columns):
(2000, 10)

In [4]:
print("\nFirst 5 Rows:")
print(df.head())

First 5 Rows:
   Id  Area  Bedrooms  Bathrooms  Floors  YearBuilt  Location  Condition  \
0   1  1360         5          4       3       1970  Downtown  Excellent
1   2  4272         5          4       3       1958  Downtown  Excellent
2   3  3592         2          2       3       1938  Downtown       Good
3   4   966         4          2       2       1902  Suburban       Fair
4   5  4926         1          4       2       1975  Downtown       Fair

  Garage   Price
0     No  149919
1     No  424998
2     No  266746
3    Yes  244020
4    Yes  636056

In [5]:
print("\nColumn Names:")
print(df.columns)

Column Names:
Index(['Id', 'Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt',
       'Location', 'Condition', 'Garage', 'Price'],
      dtype='str')

In [6]:
print("\nData Types:")
print(df.dtypes)

Data Types:
Id           int64
Area         int64
Bedrooms     int64
Bathrooms    int64
Floors       int64
YearBuilt    int64
Location       str
Condition      str
Garage         str
Price        int64
dtype: object